h1
{
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(94, 8, 25, 0.523);
 
}
.item-id {
    word-break: break-all;
}
.out-todo {
    padding:0;
}
/* .edit-input {
    margin-left: 30px;
    margin-right: 150px;
    padding-left: 30px;
    padding-right: 60px; 
} */

#input-task{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;

}

ul#input-group mb-3{
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;


}